<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">NG SimpleAuth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/private" routerLinkActive="active">Private</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin" routerLinkActive="active">SignIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">SignUp</a>
          </li>
        </ng-container>
        <ng-template #loggedIn>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Logout</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<div class="container p-5">
  <router-outlet></router-outlet>
</div>